@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-raleway;
  }
}

@layer components {
  .imgBorder::before {
    content: "";
    position: absolute;
    z-index: -2;
    height: 140%;
    width: 5rem;
    background: linear-gradient(#203ada, #f52691);
    animation: borderAnim 4s linear infinite;
  }
  .imgBorder::after {
    content: "";
    position: absolute;
    background: white;
    inset: 6px;
    border-radius: 9999px;
  }

  .cardBorder::before {
    content: "";
    position: absolute;
    z-index: -2;
    height: 140%;
    width: 5rem;
    background: black;
    animation: borderAnim 4s linear infinite;
  }
  .cardBorder::after {
    content: "";
    position: absolute;
    background: rgb(52, 211, 153);
    inset: 6px;
    z-index: -1;
    border-radius: 12px;
  }

  .custom-shape-divider-bottom-1703247122 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1703247122 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .custom-shape-divider-bottom-1703247122 .shape-fill {
    fill: #101118;
  }
  .hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }

  @media (max-height: 580px) {
    .custom-shape-divider-bottom-1703247122 svg {
      height: 50px;
    }
  }
  @media (min-width: 640px) {
    .custom-shape-divider-bottom-1703247122 svg {
      height: 100px;
    }
  }
  @media (min-width: 768px) {
    .custom-shape-divider-bottom-1703247122 svg {
      height: 150px;
    }
  }
}

@keyframes borderAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
